# .env file for storing secrets and configuration
# (ask a colleague for help with filling fields)

# Snowflake credentials
SNOWFLAKE_USER="FIRSTNAME.LASTNAME@ALLIANDER.COM"
SNOWFLAKE_ACCOUNT="ALLIANDER-UZ12345"
SNOWFLAKE_AUTHENTICATOR="externalbrowser"
SNOWFLAKE_ROLE="F_PRD_STRAT_VERKENNING_DATA_OWNER"
SNOWFLAKE_WAREHOUSE="WH_STRAT_VERKENNING_CONSUME_PRD"
SNOWFLAKE_DATABASE="PRD_STRAT_VERKENNING"
SNOWFLAKE_SCHEMA="PUBLIC"

# AWS credentials
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_PROFILE=

# Configuration
CACHED=True
CACHE_DIRECTORY="data/raw"

# Set Path for interpreter (root of project)
PYTHONPATH=

# Proxy settings (ask an SV analist)
HTTP_PROXY=
HTTPS_PROXY=
NO_PROXY=
