black==26.1.0 ; python_version >= "3.12"
click==8.3.1 ; python_version >= "3.12"
colorama==0.4.6 ; python_version >= "3.12" and platform_system == "Windows"
mypy-extensions==1.1.0 ; python_version >= "3.12"
packaging==26.0 ; python_version >= "3.12"
pathspec==1.0.4 ; python_version >= "3.12"
platformdirs==4.9.2 ; python_version >= "3.12"
python-dotenv==1.2.2 ; python_version >= "3.12"
pytokens==0.4.1 ; python_version >= "3.12"
